@charset "UTF-8";
/* CSS Document */
@font-face{font-family: quick; src:url(../fonts/Quicksand-Light.eot);}
@font-face{font-family: osr; src:url(../fonts/OpenSans-Regular.eot);}
@font-face{font-family: osb; src:url(../fonts/OpenSans-Bold.eot);}
@font-face{font-family: sertig; src:url(../fonts/archivo.eot);}


#header{
	height:80px; 
	width:100%; 
	background-color: white; 
	position: fixed; 
	top: 0; z-index: 10; 
	font-size:12px; 
	font-family: quick; 
	border-bottom: 1px solid rgb(220,220,220);
}
#head{
	position: relative; 
	width: 100%; 
	height: 80px; 
	max-width: 960px; 
	margin: 0 auto; 
}
#header-logo{ display:inline-block; position:relative; background-image: url(../image/logo.png); background-size:contain; background-repeat: no-repeat; background-position: center; top: 0; height: 80px; width: 80px; float: left; }
#header-title{
	display:inline-block;
	position:relative;
	top: 0;
	height: 80px;
	width: 500px;
	line-height: 80px;
	font-size: 20px;
	float: left;
	left: 20px;
	font-family: sertig;
	letter-spacing: 1px;
}
#lang{
	display:inline-block;
	width: 60px;
	height: 80px;
	position: relative;
	float: right;
	border-right: 1px solid rgb(220,220,220);
}
#header-en{
	position:relative; 
	height: 39px; 
	width: 60px; 
	text-align: center; line-height: 40px;  
	border-left: 1px solid rgb(220,220,220);
	border-bottom: 1px solid rgb(220,220,220);
	}
#header-kr{
	position:relative; 
	height: 40px; 
	width: 60px; 
	text-align: center; 
	line-height: 40px;
	border-bottom: 1px solid rgb(220,220,220);
	border-left: 1px solid rgb(220,220,220);
}
#other{display:inline-block; width: 120px; height: 80px; position: relative; float: right;}
#header-contact{
	position:relative; 
	height: 40px; 
	width: 120px; 
	text-align: center; 
	line-height: 40px; 
/*	border-right: 1px solid rgb(220,220,220);*/
	border-left: 1px solid rgb(220,220,220);
	border-bottom: 1px solid rgb(220,220,220);
}
#header-recruit{
	position:relative; 
	height: 39px; 
	width: 120px; 
	text-align: center; 
	line-height: 40px; 
/*	border-right: 1px solid rgb(220,220,220);*/
	border-left: 1px solid rgb(220,220,220);
	border-bottom: 1px solid rgb(220,220,220);}
#header-menu{
	display:inline-block; 
	position:relative;
	float: right;
	height: 80px; 
	width: 120px;

	text-align: center; 
	line-height: 80px;
/*	border-right: 1px solid rgb(220,220,220);*/
	border-left: 1px solid rgb(220,220,220);
	border-bottom: 1px solid rgb(220,220,220);
	cursor:pointer;
	transition: background-color 0.25s, color 0.25s;
}
#header-menu:hover {
	background-color:black;
	color:white;
	transition: background-color 0.25s, color 0.25s;
}
.timer {
	position: fixed;
	width: 0%;
	height: 8px;
	background:rgba(255,0,0,0.65);
	box-shadow: 0 0 10px rgba(255,0,0,0.5);
	top:81px;
	left:0px;
	z-index: 10;
	transition: top 0.25s;
}
.timer.inactive {
	width: 100%;
}

.timer.movedown {
	top:131px;
	transition: top 0.25s;
}
.menu-bar {
	/*display: none;*/
	position: absolute;
	top:81px;
	width: 100%;
	overflow: hidden;

	height: 0px;
	background:white;
	transition: height 0.25s;
	
}
.menu-bar.reveal {
	height: 50px;
	transition: height 0.25s;
}
.menu-items {
	position: relative;
	width: 840px;
	height: 50px;
	margin: 0 auto;
}
.menu-item {
	position: relative;
	width: 100px;
	margin: 0 10px;
	height: 50px;
	line-height: 50px;
	float:left;

	text-align: center;
	font-size: 14px;
	overflow: hidden;
	cursor: pointer;

	background-color:white;
	color:black;
}
.menu-item:hover {
	background-color:black;
	color:white;
}
.menu-closer {
	display:none;
	position: fixed;
	top:139px;
	width: 100%;
	height: calc(100% - 139px);
	/*background:red;*/
	z-index: 9999;
}

#bg{ 
	position: fixed; 
	height:calc(100% - 50px);
	width: 100%;
	top: 0;
	left: 0;

	z-index: -9999;
}
.slider {
	position: absolute;
	height: 100%;
	top:0px;
	left:0px;
	/*left:-100px;*/
}
.slide {
	position: absolute;
	height: 100%;
	top:0px;

	background-size:cover;
	background-position:center;
}
.bgtitle {
	position: absolute;
	width: 100%;
	height:200px;
	top:calc(50% - 100px + 40px);

	padding-top:30px;

	font-size: 120px;
	line-height: 90px;
	text-align: center;
	font-family: sertig;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.75);
}
.bgtitle span {
	color:rgb(230,230,230);
	font-size: 90px;
}
.arrow {
	display:none;
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: cover;
	top:650px;
	left:calc(50% - 25px);
	background-image: url(../image/tri.png);
}

.dots {
	position: absolute;
	width: 84px;
	height: 20px;
	bottom:10px;
	left:calc(50% - 42px);
}
.dot {
	position: relative;
	float:left;
	width: 10px;
	height: 10px;
	margin: 0 8px;
	cursor:pointer;
	border: 1px solid white;
	border-radius: 12px;
}
.dstyle {
	position: absolute;
	width: 6px;
	height:6px;
	left: 2px;
	top:2px;
	transition:all 0.3s;
	border-radius: 10px;
}
.dstyle.on {
	background:white;
	background:rgb(255,255,255);
	transition:all 0.3s;
}
.slit {
	position: absolute;
	width: 50px;
	height: 200px;
	top:calc(50% - 100px + 40px);
	overflow: hidden;
	cursor: pointer;
}
.slit.left {
	left:0px;
	border-right: 1px solid rgb(200,200,200);
}
.slit.right {
	right:0px;
	border-left: 1px solid rgb(200,200,200);
}
.slit .flip {
	position: absolute;
	width: 50px;
	height: 100px;
	top:50px;
}
.slit.left .flip {
	left:50px;
	background-image: url(../image/flip_left.png);
	transition: all 0.25s;
}
.slit.left:hover .flip {
	left:0px;
	transition: all 0.25s;
}
.slit.right .flip {
	right:50px;
	background-image: url(../image/flip_right.png);
	transition: all 0.25s;
}
.slit.right:hover .flip {
	right:0px;
	transition: all 0.25s;
}

#bg-title{ position: absolute; top: 350px; width: 100%; text-align: center; color: white; font-size:70px; font-family: osr;}


#footer{position: relative; 
	height: 100px; 
	width: 100%; 
	background-color:rgb(50,50,50); 
	bottom: 0; 
	font-size:12px; 
	font-family: quick;
}
#foot{
	vertical-align: top;
	position: relative; 
	width: 100%; 
	height: 80px; 
	max-width: 960px; 
	margin: 0 auto;
}
#foot-logo{ 
	display:inline-block; 
	position:relative;
	height: 80px; 
	width: 80px; 
	float: left; 

	background-image: url(../image/logo-snu.png); 
	background-size:contain; 
	background-repeat: no-repeat; 
	background-position: center;

	margin-top: 10px; 
}
#foot-title{
	display:inline-block; 
	position:relative;
	top: 0; 
	height: 80px; 
	width: 400px;
	float: left; 
	font-size: 18px; 
	left: 20px;

	color: white;
	margin-top: 20px;
	}
#foot-credit{
	display:inline-block; 
	position:relative;
	height: 80px; 
	width: 150px;
	float: right; 
	color: red;
	text-align: center; 
	line-height: 80px; 
}

#content {
	position: absolute;
	height: auto;
	top:calc(100% - 50px);
	width: 100%;
}

.sec{ 
	background-color:white; 
	position: relative; 
	z-index: 1; 
	padding-bottom: 80px; 
	width: 100%; }
.sub-sec{
	width: 100%; 
	max-width: 960px; 
	margin: 0 auto;
}
.indicator {
	position: absolute;
	width: 100px;
	height: 50px;
	/*border-bottom: 1px solid gray;*/
	top:0px;
	opacity: 0.75;
	left: calc(50% - 50px);
	cursor: pointer;
	background-image:url(../image/moveup.png);
	background-size: cover;
	/*overflow: hidden;*/
}
.sec.s2{ background-image: url(../image/research.jpg); background-position: center; background-size: cover; color: white;}
.sec.s3{ background-color:rgb(200,200,200);}
.sec.s4{ background-color:rgba(255,0,0,0.9);}
.sec.s5{ background-color:rgb(200,200,200);}
.sec.gallery{ width:100%; height: 240px; padding: 0; overflow: hidden; }
.sec.s6{ background-color:white;}
.images{width: 1920px; height: 240px; margin-left: calc(50% - 960px); }
.image{width: 240px; height: 240px; background-position: center; background-size: cover; float: left; }
.sec.s2 .sec-content{color: white;}
.sec.s2 .sec-text{color: white;}
.sec.s7{ background-color:rgba(255,150,0,0.9);}

.sec-box{}
.sec-title{ 
	height:100px; 
	color:rgb(50,50,50); 
	font-family: quick; 
}
.sec-text{ line-height:100px; font-size: 16px;}
.sec-header{ margin-top: 20px; padding:0 100px; font-family: osb; font-size: 36px; line-height: 34px; }
.sec-content{margin-top: 20px; padding:0 100px; font-size: 16px; line-height: 30px; color:rgb(100,100,100);}

.sec-buttons{ width:calc(100% - 200px); overflow: hidden; margin:40px auto; border:1px solid rgb(70,70,70); border-left: none; color: white;}
.research-link{ display:table; width: 33%; height: 80px; float: left; margin:0 0; text-align: center; border-left: 1px solid rgb(70,70,70);}
.research-link:hover{background-color:rgb(30,30,30);}
.link-text{display:table-cell; vertical-align: middle; font-size: 16px; }

.sec.s3 .sec-content {overflow: hidden; text-align: center; font-size: 12px; line-height: 18px;}
.sec.s3 .sec-content a{font-size: 18px; line-height: 18px;}
.sec.s3 .sec-header {text-align: center;}
.sec.s3 .sec-box{margin-bottom: 40px;}
.sec.s3 .research-link{width: 49%}
.sec.s4 .sec-content{color: white; }
.sec.s6 .sec-content{overflow: auto; white-space: nowrap; height: 200px;}
.sec.s6 .sec-content > div{
	width: 200px;
	height: 30px;
	display: inline-block;
	transform-origin:0;
	transform: rotateZ(45deg);
	-webkit-transform-origin:0;
	-webkit-transform: rotateZ(45deg);
	-moz-transform-origin:0;
	-moz-transform: rotateZ(45deg);
	margin-left: -160px;
}
.sec.s6 .sec-content div:first-child{margin-left: 0px;}
.sec.s6 .sec-content div a{ color: black; text-decoration: none; font-family: Arial;}


.student{ width: 190px; height: 100px; font-size: 12px; float:left; text-align: center; line-height: 18px;}
.student a{font-size: 18px; line-height: 18px;}
.seminar{ margin-bottom: 40px;}
